@model DataAccess.Doctore

@{
    ViewData["Title"] = "Eliminar Doctor";
}

<h1>Eliminar doctor</h1>

<h3>¿Estas seguro que quieres eliminar este doctor del sistema?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            Especialidad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEspecialidadNavigation.NombreEspecialidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-2">
            Nombre de Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombredeUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class="col-sm-2">
            Cargo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCargoNavigation.NombreCargo)
        </dd>

        <dt class="col-sm-2">
            Hora de trabajo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdHorarioNavigation.NombreHorario)
        </dd>
        <dt class="col-sm-2">
            Dia de trabajo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IddiaNavigation.NombreDia)
        </dd>
    </dl>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDoctor" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
