@model IEnumerable<DataAccess.HistorialdeCambio>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex align-items-center">
    <div class="flex-grow-1">
    </div>
    <div>
        <a asp-controller="Citas" asp-action="Index" class="btn btn-primary ">Volver Atras</a>
    </div>
</div>
<h1>Historial de cambios realizados</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Tabla Modificada
            </th>
            <th>
                Usuario modificado
            </th>
            <th>
               Campo modificado
            </th>
            <th>
                Estado Anterior
            </th>
            <th>
                Cambio realizado
            </th>
            <th>
                Fecha del cambio
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAnterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambio)
            </td>
            
        </tr>
}
    </tbody>
</table>
