@model DataAccess.Cita

@{
    ViewData["Title"] = "Eliminar Cita";
}


<h3>¿Estas seguro que quieres eliminar esta Cita?<</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha de la Cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tanda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tanda)
        </dd>
        <dt class="col-sm-2">
            Hora de inicio de la cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-2">
            Fecha Fin de la cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class="col-sm-2">
            Doctor encargado de la cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDoctorNavigation.Nombres)
        </dd>

        <dt class="col-sm-2">
            Paciente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPacienteNavigation.Nombres)
        </dd>
        <dt class="col-sm-2">
            Estado Actual de la cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.NombreEstado)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCita" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
