@model DataAccess.Cita

@{
    ViewData["Title"] = "Eliminar Cita";
}

<h1>Eliminar Cita</h1>

<h3>¿Estas seguro que quieres eliminar esta Cita?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha de la Cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCita)
        </dd>
        <dt class="col-sm-2">
            Fecha de la solicitud
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tanda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tanda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class="col-sm-2">
            Doctor/a
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDoctorNavigation.Apellidos)
        </dd>
        <dt class="col-sm-2">
            Estado de la cita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.NombreEstado)
        </dd>
        <dt class="col-sm-2">
            Nombre del paciente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPacienteNavigation.Nombres)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCita" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
