@model IEnumerable<DataAccess.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<div class="d-flex align-items-center">
    <div class="flex-grow-1">
    </div>
    <div>
        <a href="@Url.Action("Create")" class="btn btn-primary ">Nuevo Usuario</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre De Usuario
            </th>
            
            <th>
                Tipo de Usuario
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDeUsuario)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdCargoNavigation.NombreCargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
