@model DataAccess.Secretaria

@{
    ViewData["Title"] = "Borrar Secretaria";
}

<h1>Secretaria</h1>

<h3>¿Estas seguro que quieres eliminar este Secretaria?<</h3>
<div>
    <h4>Secretaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCargoNavigation.NombreCargo)
        </dd class>
        <dt class = "col-sm-2">
           Nombre de Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdusuarioNavigation.NombreDeUsuario)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSecretaria" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
